.guideText{
    width: 50%;
    float: left;
}
.welcomeSentence {
    margin-left: 8%;
}
.firstStep{
    margin-left: 8%;
}
.divBtnChamado{
    width: 39%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btnNovoChamado{
    width: 30%;
    height: 50%;
    border-radius: 20px;
    outline:none;
    border: none;
    background-color: #68B2F7;
    font-weight: 600;
    font-size: 1.3em;
    cursor: pointer;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.15);   
}
.main{
    height: 72vh;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.main .container{
    width: 96%;
    display: flex;
    justify-content: space-between;
}
.boxListaChamados{
    width: 28%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.15);
}
.titleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}
.feed{
    width: 100%;
    height: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feed::-webkit-scrollbar {
    width: 10px;
  }
  
.feed::-webkit-scrollbar-track {
    background: #EFF6FD;   
    border-radius: 20px; 
  }
.feed::-webkit-scrollbar-thumb {
    background-color: #acacac;    
    border-radius: 20px;       
}
.boxChamado{
    width: 90%;
    height: 30%;
    background-color: #F8F8F8;
    margin-top: 5%;
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    cursor: pointer;
}
.infoChamado{
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}
.infoChamado h3{
    margin-left: 5%;
}
.infoMaquina{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.infoAtribuicao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
}
.infoAtribuicao span{
    width: 27%;
    text-align: center;
    font-weight: 500;
}
.selectFiltrarChamados{
    margin-left:5%;
    outline: none;
    border: none;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.3em;
    padding-left: 1.5%;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    appearance: none;
    background-image: url(../img/Vector\ 2.svg);
    background-position: 90%;
    background-repeat: no-repeat;
}