.main{
    height: 70vh;
    display: flex;
    padding: 5px 0 0 0;
    
}
.leftMain{
    height: 100%;
    width: 63%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* BOX INFORMAÇÕES DA MAQUINA */

.hardInfo{
    height: 35%;
    width: 94%;
    display: flex;
    justify-content: space-between;
}
.boxHardInfo{
    height: 100%;
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.15);   
}

.titleBoxHardInfo{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.titleBoxHardInfo .container{
    width: 80%;
}
.percentageUse{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.percent{
    font-size: 4em;
}
.cpu{
    color:#00E909;
}

.ram{
    color:#E97E00;
}
.memory{
    color:#E90000;
}
.subtitleHardInfo{
    color: #4A4A4A;
}

/* BOX DE RELATORIOS */

.reports{
    width: 94%;
    height: 65%;
    padding: 10px 0 0 0;

}
.boxReports{
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.15);   
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BOX DE MAQUINAS */
.rightMain{
    height: 100%;
    width: 37%;
    padding: 0 0 0 2%;
}
.listMachine{
    height: 100%;
    width: 83%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.15);  
}

.titleListMachine{
    height: 12%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}
.titleListMachine .container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#campoPesquisa{
    outline: none;
    border: none;
    font-weight: 500;
    padding: 7px;
    background-color: none;
    border-bottom: black solid 1px;
    transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
    opacity: 0;
    width: 50%;
}
#campoPesquisa.show {
    visibility: visible;
    opacity: 1;
  }
#btnClose{
    display: none;
    height: 50%;
    cursor: pointer;

}
#btnSearch{
    height: 50%;
    cursor: pointer;
}
.machineField{
    overflow: hidden;
    overflow-y: scroll;
    height: 75%;
    
}
.machine{
    height: 15%;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.machine .container{
    display: flex;
    align-items: center;
    width: 80%;
    height: 90%;
    justify-content: space-between;
    cursor: pointer;
}

.machine:hover{
    background-color: #F2F2F2;
    transition: 0.9s ease;
}
.iconMachine{
    height: 65%;
}
.machineDetails{
    display: flex;
}
.infoMachine{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.txtDetailMachine{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}
.status{
    height: 20px;
    width: 20px;
    border-radius: 10px;

}
.ok{
    background-color: #00E909;
}
.danger{
    background-color: #E90000;
}
.alert{
    background-color: #E97E00;
}
.machineField::-webkit-scrollbar {
    width: 10px;
  }
  
.machineField::-webkit-scrollbar-track {
    background: #EFF6FD;   
    border-radius: 20px; 
  }
.machineField::-webkit-scrollbar-thumb {
    background-color: #acacac;    
    border-radius: 20px;       
}
.statusAllMachine{
    height: 13%;
    border-top: solid 1px rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: space-evenly;
}
.divStatusMachine{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-evenly;
}
/* GRAFICO */
.graph{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ocorrenciasPorUnidade{
    width: 100%;
    height: 100%;
}

@media (max-width:1400px){
    .titleBoxHardInfo h3{
        font-size: 15px;
    }
    .subtitleHardInfo{
        font-size: 12px;
    }
    .titleBoxHardInfo{
        height: 35%;
    }
    .percent{
        font-size: 3.2em;
    }
}
@media (max-width:1050px){
    .titleBoxHardInfo h3{
        font-size: 12px;
    }
}


@media (max-width:800px){
    .titleBoxHardInfo h3{
        font-size: 15px;
    }
    .hardInfo{
        height: 28%;
    }
    .main{
        flex-direction: column;
        height: 170vh;
    }
    .leftMain{
        width: 100%;
        align-items: center;
    }
    .rightMain{
        padding: 3% 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .listMachine{
        width: 93%;
    }

    .machineField::-webkit-scrollbar-thumb {
        background-color: #EFF6FD;      
    }
    .reportsField::-webkit-scrollbar-thumb {
        background-color: #EFF6FD;          
    }
}
@media(max-width:600px){
    .machine{
        padding: 5px 0;
    }
}
@media (max-width:500px){
    .hardInfo{
        border-radius: 20px;
        box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.15);   
        height: 40%;
    }
    .boxHardInfo{
        width: 33.33%;
        box-shadow: none;
        height:100%;
    }
    .left{
        border-radius: 20px 0 0 20px;
        border-right: 1px solid rgba(0, 0, 0, 0.18);
    }
    .right{
        border-radius: 0 20px 20px 0;
        border-left: 1px solid rgba(0, 0, 0, 0.18);
    }
    .center{
        border-radius: 0;
    }
    .titleBoxHardInfo .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titleBoxHardInfo h3{
        font-size: 13px;
        padding-bottom: 5px;
        text-align: center;
    }
    .percent{
        font-size: 2.5em;
    }
    .main{
        height: 160vh;
    }
    .leftMain{
        height: 40%;
    }
    .reports{
        height: 63%;
    }

    .Graph{
        height: 25%;
    }
    .rightMain{
        height:50%;
    }
}
@media (max-width:450px){
    .machine{
        padding: 8px 0;
    }
}
@media (max-width:320px){
    .percent{
        font-size: 2em;
    }   

}