.main{
    height: 72vh;
}
.leftMain{
    overflow: hidden;
    overflow-y: scroll;
    padding: 7px;
    height: 98%;
}
.boxListaChamados{
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.15);
}
.tituloMaquinas {
width: 100%;
}
.titleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    text-align: center;
}
.feed{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}
.chamado{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    padding: 15px 0;
    cursor: pointer;
}
.chamado:hover{
    background-color: #F2F2F2;
    transition: all ease 1s;
}
.idChamado{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.2em;
}
.atribuicaoChamado{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.prioridadeChamado{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
}
.feed::-webkit-scrollbar {
    width: 10px;
  }
  
.feed::-webkit-scrollbar-track {
    background: #EFF6FD;   
    border-radius: 20px; 
  }
.feed::-webkit-scrollbar-thumb {
    background-color: #acacac;    
    border-radius: 20px;       
}

.leftMain::-webkit-scrollbar {
    width: 5px;
  }
  
.leftMain::-webkit-scrollbar-track {
    background: #EFF6FD;    
    border-radius: 20px; 
  }
.leftMain::-webkit-scrollbar-thumb {
    background-color: #ACACAC;    
    border-radius: 20px;       
}
.rightMain{
    height:98%;
}
.hardInfo{
    height: 32%;
}
.reports{
    height: 66%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Graph{
    background-color: #fff;
    width: 49%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.15);  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.processador{
    height: 70%;
    width: 98%;
    margin-top: 2%;
}
.titleBoxGraph{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.machineField{
    overflow: hidden;
    overflow-y: hidden;
}

.titleBoxGraph .container{
    width: 80%;
}
.processador .titleBoxGraph .container{
    width: 90%;
}
.divBtnAddReport{
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnAddReport{
    background-color: #0078E8;
    outline: none;
    border: none;
    color:#fff;
    font-weight: 500;
    width: 60%;
    height: 50%;
    border-radius: 13px;
    font-size: 1.1em;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.15);  
    cursor: pointer;
}
.shortGraph{
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.longGraph{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.report{
    display: flex;
    align-items: center;
    height: 15%;
}
.report:hover{
    background-color: #F2F2F2;
    transition: 0.9s ease;
}
.iconReport{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.titleReport{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.dateReport{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnViewReport{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50%;
}
.listMachine{
    height: 80%;
}

/* BOX TROCAR STATUS DA MAQUINA */
.boxChangeStatusMachine{
    height: 18%;
    width: 83%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.15); 
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxChangeStatusMachine .container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.selectStatus{
    appearance: none;
    background-image: url(../img/Vector\ 2.svg);
    background-position: 90%;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.18);
    outline: none;
    margin-top: 1%;
    padding: 13px;
    border-radius: 10px;
    width: 75%;
    font-size: 1em;
    padding-right: 20px;
    font-weight: 500;
}


@media (max-width:1400px){
    .btnAddReport{
        width: 50%;
        height: 65%;
        font-size: 1em;
    }
    .boxHardInfo{
        height:25vh;
    }
    .reports{
        height: 60vh;
        margin-top: 3%;
    }
    .shortGraph{
        width: 100%;
        height: 100%;
        padding: 2px;
    }
    .longGraph{
        width: 100%;
        height: 90%;
        padding: 2px;
    }
    .titleBoxGraph h3{
        font-size: 1em;
    }
}
@media (max-width:1075px){
    .btnAddReport{
        font-size: 0.7em;
    }
    .dateReport{
        display: none;
    }
    .iconReport{
        width: 30%;
    }
    .titleReport{
        width: 40%;
    }
    .btnViewReport{
        width: 30%;
    }
}
@media (max-width:800px){
    .main{
        height: 300vh;
    }
    .leftMain{
        overflow: unset;
        overflow-y: unset;
        padding: 0;
    }
    .rightMain{
        height: 42%;
        flex-direction: column;
        align-items: center;
    }
    .boxChangeStatusMachine{
        width: 93%;
    }
    .hardInfo{
        height: 18%;
    }
    .reports{
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        margin-top: 0;
    }
    .Graph{
        width: 93%;
        height: 30%;
    }
    .processador{
        margin-top: 0;
    }
    .processador .titleBoxGraph .container{
        width: 80%;
    }
    .longGraph{
        width: 95%;
    }
    .shortGraph{
        width: 95%;
    }
    .btnAddReport{
        font-size: 1em;
    }

}
@media (max-width:730px){
    .titleBoxHardInfo h3{
        font-size: 13px;
    }
}
@media (max-width:500px){
    .main{
        height: 235vh;
    }
    .boxHardInfo{
        height: 100%;
    }
    .Graph{
        height: 25%;
    }
    .rightMain{
        height:35%;
    }
}
@media (max-width:350px){
    .btnAddReport{
        font-size: 0.7em;
    }
}