@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Hurricane&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}
.overlayNovoChamado {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.modal{
    display: flex;
    align-items: flex-start;
    width: 50%;
    height: 70%;
    padding-top: 1%;
    background-color: white;
    border-radius: 0.8vw;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1;
    overflow:auto;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        animation: animate;
        animation-duration: 780ms;
}

.modalRelatorio{
    display: flex;
    align-items: flex-start;
    width: 45%;
    height: 87%;
    padding-top: 1%;
    background-color: white;
    border-radius: 0.8vw;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1;
    overflow:scroll;
    overflow:hidden;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        animation: animate;
        animation-duration: 780ms;
}

.modalChamado{
    display: flex;
    align-items: flex-start;
    width: 45%;
    height: 92%;
    padding-top: 1%;
    background-color: white;
    border-radius: 0.8vw;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1;
    overflow:scroll;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        animation: animate;
        animation-duration: 780ms;
}

.modalNovoChamado{
    display: flex;
    align-items: flex-start;
    width: 45%;
    height: 68%;
    padding-top: 1%;
    background-color: white;
    border-radius: 0.8vw;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1;
    overflow:scroll;
    overflow:hidden;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        animation: animate;
        animation-duration: 780ms;
}


@keyframes animate{

    from{opacity: 1;}
    from{opacity: 0;}

}
.headerModal{
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: 1.3vw;

}
.headerModalChamado{
    display: flex;
    justify-content: space-between;
    height: 5%;
    width: 100%;
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: 1.3vw;

}
.tituloModal{
    padding-left: 4%;
    padding-bottom: 4%;
}
.fecharModal{
    padding-right: 4%;
}

.subTitulo{
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
    font-weight: 600;
    font-size: 1.3vw;
}

.bodyModal{
    padding-left: 4%;
    padding-bottom: 4%;
}
.modalFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.estilo{
    display: flex;
    flex-direction: column;
    padding-right: 3%;
}
.tamanho1{
    width: 45%;
}
.tamanho2{
    width: 25%;
}
.tamanho3{
    width: 30%;
}
.tamanho4{
    width: 35%;
}
.tamanho5{
    width: 20%;
}
.tamanho6{
    width: 15%;
}
.tamanho7{
    width: 10%;
}
.tamanho8{
    width: 50%;
}
.tamanho9{
    width: 94%;
}
.tamanho10{
    width: 59%;
}
.tamanho11{
    width: 100%;
}
.tamanho12{
    width: 47%;
}

.data{
    padding-right: 2%;
}
.bloco{
    padding-top: 2%;
    display: flex; 
    align-items:flex-start;
    width: 100%;
}
.selectModal{
    width: 100%;
    height: 6.4vh;
    background: #FFFFFF;
    border: 0.3vh solid rgba(0, 0, 0, 0.18);
    border-radius: 0.8vw;
    font-weight: 500;
    font-size: 1.3vw;
    padding-left: 4%;
}
.selectModal2{
    width: 98%;
    margin-left: 3%;
    height: 6.4vh;
    background: #FFFFFF;
    border: 0.3vh solid rgba(0, 0, 0, 0.18);
    border-radius: 0.8vw;
    font-weight: 500;
    font-size: 1.3vw;
    padding-left: 4%;
}

.inputModal{
    width: 100%;
    height: 6vh;
    background: #FFFFFF;
    border: 0.3vh solid rgba(0, 0, 0, 0.18);
    border-radius: 0.8vw;
    font-weight: 500;
    font-size: 1.3vw;
    padding-left: 3%;
}
.inputModal2{
    width: 100%;
    height: 6vh;
    background: #FFFFFF;
    border: 0.3vh solid rgba(0, 0, 0, 0.18);
    border-radius: 0.8vw;
    font-weight: 500;
    font-size: 1.3vw;
    padding-left: 3%;
}
.textAreaModal{
    width: 100%;
    height: 20vh;
    background: #FFFFFF;
    border: 0.3vh solid rgba(0, 0, 0, 0.18);
    border-radius: 0.8vw;
    font-weight: 500;
    font-size: 1.3vw;
    padding-left: 3%;
}
.btnFechar{
    cursor: pointer;
    background-image: url("/img/fechar.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    margin-top: 1vh;
    margin-right: 1vw;
}

.btnSalvar{
    height: 6vh;
    width: 13vw;
    border-radius: 0.8vw;
    outline: none;
    border: none;
    background-color: #0078E8;
    font-size: 1.3vw;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);   
    border-radius: 20px; 
  }
::-webkit-scrollbar-thumb {
    background-color: rgba(97, 165, 227, 0.6);    
    border-radius: 20px;       
}
@media (max-width:500px){
    .modal{
        width:90%;
        height: 85%;
    }
    .headerModal{
        height: 8%;
        font-size: 4.3vw;
    }
    .tituloModal{
        padding-bottom: 0;
    }
    .btnFechar{
        background-size: 100%;
        margin-right: 4vw;
    }
    .bloco{
        flex-wrap: wrap;
    }
    .tamanho1{
        width: 90%;
    }
    .subTitulo{
        font-size: 4.3vw;
    }
    .inputModal{
        height: 4vh;
        font-size: 3.3vw;
    }
    .tamanho3{
        width: 94%;
    }
    .selectModal{
        font-size: 3.3vw;
        height: 4vh;
        outline: none;
    }
    .btnSalvar{
        height: 5vh;
        width: 39vw;
        font-size: 5.3vw;
    }
    .headerModalChamado{
        height: 6%;
    }
    .modalNovoChamado{
        width: 90%;
        height: 59%;
        top: 46%
    }
    .tituloModal{
        font-size: 20px;
    }
    .estilo{
        width: 95%;
        margin-top: 1.5%;
    }
    .textAreaModal{
        height: 10vh;
        outline: none;
        font-size: 15px;
        width: 96%;
    }
}