@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Hurricane&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    height: 13vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    margin: 0 0;
}

.headerTitle {
    margin: 2.4%;
}

.header .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}

.navbar{
    width: 40%;
    font-weight: 500;
}
.navbar ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    
}

a {
    text-decoration: none;
    color: black;
}

.navbtn{
    cursor: pointer;
    text-align: center;
}

.btnRegister{
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(236, 236, 236, 0.5);
    color: #61A5E3;
}

.btnHamburguer{
    display: none;
}
.btnSairMenu{
  display: none;
}
@media (max-width:800px) {
    .hiddenMobile{
      display: none;
    }
    .navbar ul{
        justify-content: flex-end;
        height: 40%;
        width: 80%;
        
    }

}